/* no component auto css scoping set up so scoping all classes with component name. **/
:root {
  --darkGreen-color: #0b6603;
  --darkRed-color: #d30000;
  --lightGreen-color: #cbf5dd;
  --lightRed-color: #ffcccb;
}

.Password {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  transition: all ease-in 0.2;
}

.Password-row {
  display: flex;
  align-items: flex-start;
  flex: 1 auto;
  min-width: 0;
}
.Password-cell {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Password-inputRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.Password-instructions {
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    font-weight: bold;

    svg {
      height: 20px;
      width: 20px;
      fill: var(--darkRed-color);
    }
  }

  .Password-requirementValid {
    font-weight: unset;

    svg {
      fill: var(--darkGreen-color);
    }
  }
}

.Password-notification {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.Password-notificationFail {
  border-color: var(--darkRed-color);
  background-color: var(--lightRed-color);
}

.Password-notificationSuccess {
  border-color: var(--darkGreen-color);
  background-color: var(--lightGreen-color);
}

/* Visibility button is placed above input instead of on the end so Password apps like OnePassword don't cover it */
.Password-visibilityButton {
  width: 20px;
  height: 20px;

  svg {
    height: 20px;
    width: 20px;
  }
}
