ul {
  margin: 0;
  padding: 0;
}
.password {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

  min-width: 0;
  flex: 1 auto;
  display: inline-flex;
  align-items: flex-start;

  label,
  input {
    margin: 4px 0;
  }

  label {
    min-width: 150px;
    display: inline-block;
  }

  .instructions {
    padding: 0 0 0 30px;

    li {
      display: flex;
      align-items: center;
      font-weight: bold;

      svg {
        fill: red;
      }
    }

    li[class~="valid"] {
      font-weight: unset;

      svg {
        fill: green;
      }
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }

  button {
    display: block;
  }
}
